<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />


  </head>

  <body>
    <h2 class="main-title">Login</h2>
    <br>
    <form method="post">
      <table>
        <tr>
          <td class="label">
            Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
        </tr>
      </table>

      <div class="error">
        {{error}}
      </div>
      <br>
      <input id= "login-sub" type="submit">
    </form>

    <br><br>
    <hr>
    <div>Need an account? Signup <a href="/signup">Here</a></div>
  </body>

</html>
